
@font-face {
    font-family: 'Jura';
    src: url('./FUENTES/Jura-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  
}

body {
  font-family: 'Jura';
  font-style: normal;
  font-weight: normal;
}

.banner {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  row-gap: 5px;
  }

.menu {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(241, 241, 241);
  row-gap: 5px;
}

.ofrecemos {
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  font-size: large;
  font-weight: normal;
  row-gap: 5px;
}

h2{
    color: #066285;
}

#caja-azul-ofrecemos {
  margin: 2em auto;
  padding: 4%;
  background-color: #066285; 
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  border: 2px solid rgb(79,185,227);
  row-gap: 5px;
}
#estudiamos{
  text-align: center;
  text-transform: uppercase; 
  font-size: x-large;
  font-weight: bold;
  color: white;
}

#entendemos{
  text-align:center;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  color: white;
}

#productividad{
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
  font-weight: bold;
  color: white;
}
#estudiamos img, #entendemos img, #productividad img{
  width:300px;
  height:300px;
  border-radius:160px;
  border:3px solid white; 
  box-shadow: 5px 5px #5a6064;
}

.def-ia {
  text-align: center;
  font-size: x-large;
  font-weight: normal;
  row-gap: 5px;
}

  h2{
      text-align: center;
      color: #066285;
      text-transform: uppercase;
      font-size: xx-large;
  }
    
    p{
      text-align: center;
      padding-left: 150px;
      padding-right: 150px;
      font-size: large;
    }






















.ventajas {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  row-gap: 5px;
}

.contacto {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  row-gap: 5px;
}

.empresas {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  row-gap: 5px;
}

.footer {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  row-gap: 5px;
}

