
@font-face {
    font-family: 'Jura';
    src: url('./FUENTES/Jura-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  
}

body {
  font-family: 'Jura';
  font-style: normal;
  font-weight: normal;
}

.banner {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  grid-template-rows: 1fr;
  row-gap: 5px;
  }

.menu {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  grid-template-rows: 1fr;
  row-gap: 5px;
}

.ofrecemos {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  font-weight: normal;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  grid-template-rows: 1fr;
  row-gap: 5px;
}

.pilares {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  grid-template-rows: 1fr;
  row-gap: 5px;
}

.def-ia {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  grid-template-rows: 1fr;
  row-gap: 5px;
}

.ventajas {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  grid-template-rows: 1fr;
  row-gap: 5px;
}

.contacto {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  grid-template-rows: 1fr;
  row-gap: 5px;
}

.empresas {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  grid-template-rows: 1fr;
  row-gap: 5px;
}

.footer {
  text-align: center;
  width: 100%;
  margin: 2em auto;
  height: 100%;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);
  grid-template-rows: 1fr;
  row-gap: 5px;
}